<header class="header header__home">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="#" class="header__logo">
        <svg class="" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span>
      </a>
      <ul class="header__links">
        <li class="header__link link--active"><a href="#">home</a></li>
        <li class="header__link"><a href="library.html">my library</a></li>
      </ul>
    </nav>
    <form class="header__form">
      <label>
        <input type="text" placeholder="Movie search" class="header__input" />
        <button class="header__button">
          <svg class="header__search" width="12px" height="12px">
            <use href="./images/sprite.svg#search"></use>
          </svg>
        </button>
      </label>
    </form>
  </div>
</header>
